services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    
    ports:
      - "3000:3000"
      
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
      
    environment:
      PORT: 3000
      
    restart: "no"